<div class="control-group brock-field brock-field-select">
  <div class="control-label">
    <%= label %>
  </div>

  <div class="controls">
    <% values.each do |v| %>
      <label class="radio brock-label">
        <input class="brock-field"
               type="radio"
               name="brock[<%= name %>]"
               value="<%= v['value'] %>"
               <% if value == v['value'] or (not value and v['value'] == default) %>
                 checked
               <% end %>
        />
        <%= v['label'] %>
        <% if v['description'] %>
          <p class="help-block"><%= v['description'] %></p>
        <% end %>
      </label>
    <% end %>
  </div>
</div>
